
header {
  position: relative;
  height: 120px;
  background-color: #EFEFEF; /* Cambia el color según tus preferencias */
  border: 1px solid black;
  padding: 5px;

}
/* styles.css */
.left {
  width: 215px;
  float: left; /* Alinea a la izquierda */
  min-height: 300px;
  background-color: #4778e0; 
  padding: 10px;
  border: 1px solid black;
}

.imagen{
  width: 50%;
}

nav ul li a {
  list-style: none;
}

.left li{
  display: block;
  margin-bottom: 10px;
}

nav ul li {
  display: inline-block;
  padding: 5px;
  border: 1px dotted black;
  background-color: #f5bc8d;
  
}

li:hover{
  background-color: #e5f58d; 
}

main{
  display: flex;
  flex-wrap: wrap; /* to wrap the divs on smaller devices (mobile) */
  border: 1px solid black;
  background-color: #e5f58d; 
}

section{
  background-color: #f5bc8d; 
}

.main{
padding: 10px;
border: 1px solid black;
width: 85%;
}

footer {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  display: flex;
  padding: 10px;
  height: 50px;
  margin-top: 10px;
  background-color: #EFEFEF;
  border: 1px solid black;
  align-content: center;
}
article{
  margin: 10px;
  padding: 10px;
  background-color: #8cacf1; 
  border: 1px solid black;
}

div{
  margin: 10px;
  padding: 10px;
  background-color: #93c7e9; 
  border: 1px solid black;
  height: 100%;
}

.copyright{
  text-align: right;
  font-size: 14px;
  color: #000000;
  background-color: #EFEFEF; /* Cambia el color según tus preferencias */
  padding: 5px;
  font-weight: bold;
}
